html {
	background-color: #ccc 
}

h1 {
	margin: 30px auto;
	text-align: center;
	font-family: "Verdana";
	font-weight: normal;
}

.header {
	width: 100%;
	height: 20px;
	margin: 30px auto 60px auto;
	text-align: center;
}

.button {
	margin: 0 auto;
	display: inline-block;
	background-color: #cccccc;
	font-family: "Verdana";
	font-size: 16px;
	color: black;
	border: none;
	outline: none;
	text-decoration: none;
	padding: 15px 32px;
}

.button:hover {
	background-color: #d9d9d9;
}

.button:active {
	background-color: #bfbfbf;
}

.container {
	line-height: 0;
	text-align: center;
	margin: 0 auto;
	margin-top: 40px;
	width: 500px;
	height: 500px;
	box-shadow: 0px 0px 50px black;
}

.gridSquare {
	float: left;
	background-color: #fb9d9d;
}