.header {
	width: 100%;
	height: 20px;
	margin: 0 auto;
}

#button {
	margin: 0 auto;
	display: block;
}

.container {
	line-height: 0;
	text-align: center;
	margin: 0 auto;
	width: 500px;
	height: 500px;
}

.gridSquare {
	float: left;
	background-color: pink;
}